[submodule "2023-backend"]
	path = 2023-backend
	url = https://github.com/24ITstudio/itstudio-website-backend
[submodule "2023-frontend"]
	path = 2023-frontend
	url = https://github.com/24ITstudio/itstudio-website-frontend
[submodule "2022-backend"]
	path = 2022-backend
	url = https://github.com/dx2331lxz/itstudio_backstage.git
[submodule "2021-backend"]
	path = 2021-backend
	url = https://gitee.com/ladeng07/ITShowPlatform.git
[submodule "2021-frontend"]
	path = 2021-frontend
	url = https://github.com/ITStudioOUC/ITStudio-welcome-websites
	branch = 2021-frontend
[submodule "2020-frontend"]
	path = 2020-frontend
	url = https://github.com/EscpLA/ItStudio
[submodule "2019-frontend"]
	path = 2019-frontend
	url = https://github.com/NeWive/Gu-
[submodule "homepage-2023"]
	path = homepage-2023
	url = https://github.com/moca-ldr/it-homepage
